* {
    font-size: 12px;
    font-family: 'Times New Roman';
}
td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 95px;
    max-width: 95px;
}

td.ShowTime,
th.ShowTime {
    width: 90px;
    word-break: break-all;
}

td.price,
th.price {
    width: 60px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 195px;
    max-width: 195px;
}

img {
    width: 100px;
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}